<html>

    <head>
        <title>Sentiment Analysis | Flask</title>
    </head>

    <body>
        
            <center><h2>Welcome To Sentiment Analysis!</h2></center>

            <center>
                <form action = "http://localhost:5000/sentiment_output" method = "post">

                    <input type="text" name="sent" value="">
                    
                    <p><input type = "submit" value = "Analysis" /></p>
                 </form>
            </center>


            <br><br>
            <center>
                <form action = "http://localhost:5000/" method = "post">

                    <p><input type = "submit" value = "Back to Home" /></p>
                 </form>
            </center>


    </body>

</html>